<div style="background-color:{{ section.settings.text_bg_col }};color:{{ section.settings.text_col }};" class="border border-black rounded-xl w-full mb-5 md:mb-10 p-8" id="rewards">
    <h1 class="w-full block mb-6 font-cheltenham-std text-lg sm:text-xl" href="#">Rewards</h1>
  <p class="text-sm mt-4 font-sofia-pro-regular" >You've collected <span class="font-sofia-pro-bold">12 points</span> so far this quarter which will be worth <span class="font-sofia-pro-bold">£0.12</span>.</p>
  <p class="text-sm mt-4 font-sofia-pro-regular" >You currently have <span class="font-sofia-pro-bold">£1.75</span> worth of rewards to spend.</p>
</div>