<div style="background-color:{{ section.settings.text_bg_col }};color:{{ section.settings.text_col }};" class=" border rounded-xl border-black w-full sticky">
    <ul class="flex flex-col px-5 py-8 font-cheltenham-std text-sm sm:text-xl">
      <li>
        <a class="w-full block mb-6 tracking-widest " href="#">Account Overview</a>
      </li>
      <li>
        <a class="w-full block mb-6 tracking-widest "  href="#details">My Details</a>
      </li>
      <li>
        <a class="w-full block mb-6 tracking-widest " href="#addresses">My Addresses</a>
      </li>
      <li>
        <a class="w-full block mb-6 tracking-widest " href="#subscription">Subscription</a>
      </li>
      <li>
        <a class="w-full block mb-6 tracking-widest "  href="#orders">My Orders</a>
      </li>

      <li>
        <a href="/account/logout" class="w-full block mb-2 tracking-widest" href="#">Logout</a>
      </li>
    </ul>
  </div> 