
<!-- /templates/customers/account.liquid -->
{% section 'account' %}
<script async src="https://cdn-widgetsrepository.yotpo.com/v1/loader/tIIi5nQl6K6472y86F8l2A"></script>
<!-- <div class="yotpo-widget-instance" data-yotpo-instance-id="221923"></div> -->
<!-- <div class="yotpo-widget-instance" data-yotpo-instance-id="221924"></div> -->
<!-- <div class="yotpo-widget-instance" data-yotpo-instance-id="221925"></div> -->
<!-- <div class="yotpo-widget-instance" data-yotpo-instance-id="221926"></div> -->
<div class="yotpo-widget-instance" data-yotpo-instance-id="221927"></div>