<!-- /templates/customers/reset_password.liquid -->

  <div class="login-parent py-16 relative px-4 max-w-550 m-auto">

    <h1 class="uppercase font-cheltenham-std mb-6 text-xl md:text-3xl text-center relative w-48 md:w-80 mx-auto {{page.title}}">Reset Password</h1>

  {% form 'reset_customer_password', id: 'reset-pass' %}
  
  {{ form.errors | default_errors }}
  
  <input class="font-sofia-pro rounded-xl outline-none py-3 w-full mb-4 px-4 border-2" size="30" type="password" placeholder="Password" value="" name="customer[password]" size="16" />
  
  <input
    type="password"
    value=""
    name="customer[password_confirmation]"
    placeholder="Password Confirmation"
    size="16"
    class="font-sofia-pro rounded-xl outline-none py-3 w-full px-4 border-2" size="30"
  />
  
  <div class=" m-auto w-full text-center">
    <button
      class=" transition-all mx-auto mt-8 mb-8 text-sm pt-4 pb-3 px-16 uppercase tracking-wider rounded-lg bg-primary-blue border border-transparent font-sofia-pro text-white hover:text-primary-blue hover:bg-white hover:border-primary-blue"
      type="submit" value="Submit">{{ "customer.submit" | t }}</button>
  </div>

  {% endform %}
  </div>