{% stylesheet %}
  .image-element__item {
    width: 160px;
    max-width: 100%;
    vertical-align: middle;
  }
  @media (min-width: 768px) {
    .image-element__item {
      width: auto;
    }
    .image-element__item img {
      width: auto;
      min-height: 80px;
    }
  }

{% endstylesheet %}


{% assign rows_offset = section.blocks.size | divided_by: 2 | minus: 1 %}
{% assign rows = section.blocks.size | divided_by: 2 %}

<div style="background-color: {{ section.settings.bg_col }};" class="overflow-hidden py-14">
  <div class="pb-14 pt-5 md:pt-14 mt-12 md:mt-2">

    <h4 style="color: {{ section.settings.text_col }};" class="text-3xl md:text-4xl md:mb-10 font-cheltenham-std text-center">{{ section.settings.title | replace: '/strong>', '/span>' | replace: '<strong>', '<span class="text-purple-planera">' }}</h4>

    <div class="overflow-hidden block md:hidden">
      <div
       class="glide px-9 lg:px-20 mt-18 md:mt-11 relative"
       data-options='{
        "type": "carousel",
        "perView": 4,
        "gap": 15,
        "breakpoints": {
          "1280": {
            "perView": 4
          },
          "768": {
            "perView": 3
          },
          "480": {
            "perView": 2
          }
        }
      }'>
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides flex glide__slides--equal-height">
            {% for block in section.blocks %}
              <li class="glide__slide image-element__item  image-element__item--slide">
                {% include 'lazy-image' image: block.settings.logo %}
              </li>
            {% endfor %}
          </ul>

          <div class="glide__bullets glide__bullet--testmonials flex items-center justify-center mt-5" data-glide-el="controls[nav]">
            {% for block in section.blocks %}
              <button class="glide__bullet w-3.5 h-3.5 rounded-full mx-1" data-glide-dir="={{ forloop.index0}}"></button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="hidden md:block">
      <div class="text-center">
        {% for block in section.blocks %}
          {% if block.settings.logo %}
            <div class="{% comment %}w-48 lg:w-28 {% endcomment %}px-3 inline-block image-element__item">
              {% include 'lazy-image' image: block.settings.logo %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
</div>


{% schema %}
{
    "name": "Logo Slider",
    "settings": [
        {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "info":"Bold text that should be in purple",
            "default": "<p>As Seen In</p>"
        },
        {
            "type": "color",
            "id": "bg_col",
            "label": "Background Colour"
        },
        {
            "type": "color",
            "id": "text_col",
            "label": "Text Colour"
        }
    ],
    "presets": [
        {
            "category": "Image",
            "name": "Logo Slider"
        }
    ],
    "blocks": [
        {
            "type": "logo",
            "name": "Logo",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                }
            ]
        }
    ],
    "templates": [
        "index",
        "product",
        "page",
        "cart",
        "article",
        "collection"
    ]
}
{% endschema %}