<script async src="https://cdn-widgetsrepository.yotpo.com/v1/loader/JCi3h1kjiICEI23EbqoNuA"></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="180507"></div>

<style>
      /* YOTPO LOYALTY / REWARDS */

  .yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-text-on-background:not(.yotpo-is-mobile) .yotpo-text-container.yotpo-left-layout {
    left: max(calc(20% - 280px),40px) !important;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-text-on-background .yotpo-text-container {
      max-width: 600px !important;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-title {
    font-family: cheltenham-std,Times New Roman !important;
    color:#122556 !important;
    font-size: 50px !important; 
    line-height: 1.2 !important;
    font-weight: unset !important;
  }
  .yotpo-widget-loyalty-page .yotpo-coupons-redemption-widget .yotpo-headline {
    font-family: cheltenham-std,Times New Roman !important;
    padding-top: 2rem !important;
    color:#122556 !important;
    font-weight: unset !important;
    text-decoration: underline !important;
  }
  .yotpo-widget-loyalty-page .yotpo-coupons-redemption-widget .yotpo-description {
    font-family: sofia-pro-light,Arial !important;
    color:#122556 !important;
    font-weight: unset !important;
    margin-bottom: 0.25rem !important;
    padding-top: .5rem;
  }
  .yotpo-widget-loyalty-page .yotpo-coupons-redemption-widget .yotpo-rule {
    font-family: sofia-pro-bold,Arial !important;
    color:#4546F4 !important;
    font-weight: unset !important;
  }
  .yotpo-widget-loyalty-page .yotpo-loyalty-page-container {
      background-image: url('https://cdn.shopify.com/s/files/1/0609/8806/3904/files/28_07_21_Planera_day2_MD_Water_1030_2.png?v=1655220866');
      background-size: cover;
      background-position: center;
      padding-bottom: 10rem !important;
  }
  .yotpo-widget-loyalty-page .yotpo-redemption-option {
    background-image: url('https://cdn.shopify.com/s/files/1/0609/8806/3904/files/LINE.png?v=1655290086');
    height: 150px;
    width: 270px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .yotpo-widget-loyalty-page .yotpo-redemption-option .yotpo-redemption-option-reward {
    font-size: 21px !important;
    font-family: sofia-pro-bold,Arial !important;
    color: #4546F4 !important;
  }
  .yotpo-widget-loyalty-page .yotpo-redemption-option .yotpo-redemption-option-cost {
    font-size: 14px !important;
    font-family: sofia-pro-bold,Arial !important;
    color: #4546F4 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 50px !important;
  }
  .yotpo-widget-loyalty-page .yotpo-coupons-redemption-widget .yopto-widget-button-text {
      font-size: 15px !important;
      font-family: sofia-pro-light,Arial !important;
    color:#122556 !important;
    font-weight: unset !important;
  }
  .yotpo-widget-loyalty-page .yotpo-coupons-redemption-widget .yotpo-action-button-widget button {
      background-color: white !important;
      border-radius: .5rem !important;
      margin-top: .5rem;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-my-rewards-widget {
      display: none !important;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget .yotpo-container-headline {
    font-family: cheltenham-std,Times New Roman !important;
    color:#122556 !important;
    font-weight: unset !important;
    font-size: 41px !important;
    text-decoration: underline !important;
    padding-bottom: 5rem;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget .yotpo-outer-tile {
      border: unset !important;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget .yotpo-tile {
     border-radius: 1rem;
  }
  .yotpo-widget-loyalty-page .yotpo-overlay-tile {
      border-radius: 1rem;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget-icon-container svg {
      margin: auto !important;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget-container .yotpo-tile .yotpo-title-text {
      font-size: 21px !important;
      font-family: sofia-pro-bold,Arial !important;
    color: #4546F4 !important;
    text-transform: uppercase;
    padding-top: .5rem !important;
  }
  .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget-container .yotpo-tile .yotpo-description-text {
      font-size: 17px !important;
      font-family: sofia-pro-regular,Arial !important;
    color: #4546F4 !important;
    text-transform: uppercase;
    padding-top: .75rem !important;
  }

  @media screen and (max-width:940px) {
    .yotpo-coupons-redemption-widget .three-in-row .yotpo-redemption-item {
        width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .yotpo-coupons-redemption-widget .three-in-row .yotpo-redemption-item .yotpo-redemption-option {
        margin-left: auto !important;
        margin-right: auto !important;
    }
  }
  @media screen and (max-width:768px) {
    .yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-text-on-background:not(.yotpo-is-mobile) .yotpo-text-container.yotpo-left-layout {
    left: 0 !important;
}
.yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-title {
    font-size: 36px !important;
}
.yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-text-and-buttons {
    padding-left: 2rem !important;
    padding-right: 1rem !important;
}
.yotpo-widget-loyalty-page .yotpo-widget-hero-section .yotpo-text-and-buttons .yotpo-register-link {
    margin-bottom: 1rem !important;
}
  }
  @media screen and (max-width:640px) {
    .yotpo-coupons-redemption-widget .three-in-row .yotpo-redemption-item {
        width: 100% !important;
    }
  }
  @media screen and (max-width:500px) {
    .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget-container .yotpo-tile .yotpo-title-text {
        font-size: 16px !important;
    }
    .yotpo-widget-loyalty-page .yotpo-widget-campaign-widget-container .yotpo-tile .yotpo-description-text {
        font-size: 13px !important;
    }
  }

</style>