<div id="y-embedded-widget" class="yotpo embedded-widget"
 data-appkey="AQylRjL9ZPR2h0n5eZloHoUO4mFl4dmaAv6o8zuZ" 
 data-product-id="yotpo_global_reviews"
 data-layout="reviews"
 data-width="100"
 data-reviews="5"
 data-header-text="Recent Reviews"
 data-header-background-color="919191"
 data-body-background-color="FFFFFF"
 data-font-size="18"
 data-font-color="FFFFFF">&nbsp;</div>

{% schema %} 
{
  "name": "Yotpo Custom Embed Widget",
  "class": "recycle-banner-container",
  "settings": [
  

],

"presets": [
{
  "name": "Yotpo Custom Widget",
  "category": "Yotpo Custom Widget"
}
]
}


{% endschema %} 