{% capture alpine_click %}
{% comment %}
    AJAX Add to cart
{% endcomment %}
if(selectedVariant) {
    fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({
        'items': [{
            'id': selectedVariant.product.id,
            'quantity': quantity
            }]
        })
    })
    .then(response => {
        return response.json();
    })
    .then(response => {
        quickShop = false;
        setTimeout(() => {
          window.location.reload();
        }, 300);
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}
{% endcapture %}

<!-- setup for blocks -->
{%- assign prod_blocks = section.blocks | where: 'type', 'product' -%}
{%- assign benefit_blocks = section.blocks | where: 'type', 'prod_benefits' -%}
{%- assign collectionProds = section.settings.collection_products.handle -%}

<div style="background-color:{{ section.settings.bg_col }};" x-data="{ quickShop: null }" class="pt-14 pb-14">

    <h2 style="color:{{ section.settings.text_col }};" class="font-cheltenham-std text-section-title-small text-center pb-8 px-3 sm:pb-12">{{ section.settings.title }}</h2>

    <div class="splide featured_slideshow__products max-w-1650 ml-12 | sm:w-full sm:m-auto">
        <div class="splide__track m-auto pr-8! | sm:pr-0! sm:w-10/12 lg:w-11/12">
              <ul class="splide__list">
                  {% if collectionProds == blank %}  
                  {% for block in prod_blocks %}
                  {% assign bs = block.settings %}
                  {% if bs.product.id != product.id %}
                  <li class="splide__slide">
                    {% include 'slideshow-product', product:bs.product, benefits:benefit_blocks %}
                </li>
                {% endif %}
                {% endfor %}
                  {% else %}
                  {% for prod in collections[collectionProds].products %}
                  {% if prod.id != product.id %}
                  <li class="splide__slide">
                    {% include 'slideshow-product', product:prod, benefits:benefit_blocks %}
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
              </ul>
        </div>
      </div>
</div>

<script>

        document.addEventListener( 'DOMContentLoaded', function() {
 
    const featuredProdSlider = new Splide( '.featured_slideshow__products', {
        type   : 'slide',
        perPage:3,
        perMove:1,
        gap:'4rem',
        arrows:false,
        pagination:false,
        breakpoints: {
		640: {
            type   : 'slide',
            rewind:true,
			perPage:1,
            gap:'1.2rem',
            pagination:true,
            arrows:true,
		}, 
        1150: {
            type   : 'slide',
            rewind:true,
			perPage:2,
            pagination:true,
            arrows:true,
		}
  },
    });

    featuredProdSlider.on( 'mounted', function () {
  // This will be executed.

} );
    featuredProdSlider.mount();
})
</script>

{% schema %}
{
    "name": "Featured Slideshow",
    "settings": [
    {
        "type":"color",
        "id":"bg_col",
        "label":"Background Colour"
    },
    {
        "type": "color",
        "id": "text_col",
        "label": "Text Colour"
    },
    {
        "type": "header",
        "content": "Carousel Collection of Products"
    },
    {
        "type": "header",
        "content": "Either a collection or manually select products"
    },
    {
        "type":"collection",
        "label":"Carousel Collection Products",
        "id":"collection_products"
    },
        {
            "type": "header",
            "content": "Section Title"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "shop",
            "label": "Shop Button",
            "default": "SHOP NOW"
          },
          {
            "type": "header",
            "content": "Quick Shop"
          },
          {
            "type": "text",
            "id": "qs",
            "label": "Quick Shop Button",
            "default": "QUICK ADD"
          },
          {
            "type": "text",
            "id": "single",
            "label": "Single Purchase Text",
            "default": "Just Once"
          },
          {
            "type": "text",
            "id": "subscribe",
            "label": "Subscribe Text",
            "default": "Subscribe"
          },
          {
            "type": "text",
            "id": "tick_1",
            "label": "Tick Icon Text 1"
          },
          {
            "type": "text",
            "id": "tick_2",
            "label": "Tick Icon Text 2"
          },
          {
            "type": "text",
            "id": "tick_3",
            "label": "Tick Icon Text 3" 
          },
          {
            "type": "text",
            "id": "cart",
            "label": "Add To Cart Button",
            "default": "Add to Cart"
          }
    ],
    "blocks":[
    {
        "type":"product",
        "name":"Product",
        "settings":[
        {
            "type":"product",
            "id":"product",
            "label":"Choose Product"
        }
        ]
    },
    {
      "type": "prod_benefits",
      "name": "Tick Point",
      "settings": [
          {
              "type": "select",
              "id": "type",
              "label": "Type",
              "info": "Show this tick if subscribe or one time is selected",
              "options": [
                  {
                      "value": "one",
                      "label": "One Time"
                  },
                  {
                      "value": "subscribe",
                      "label": "Subscribe"
                  }
              ]
          },
          {
              "type": "text",
              "id": "text",
              "label": "Tick Point Text"
          }
      ]
  }
    ],
    "presets": [
        {
            "name": "Featured Slideshow",
            "category": "Slideshow",
            "settings": {
            }
        }
    ]
}

{% endschema %}