<div class="pt-20 pb-24 m-auto text-center sm:pb-36 px-8">
<h1 class="pb-10 font-sofia-pro-bold text-4xl">{{ 'general.404.title' | t }}</h1>
<p class=" font-sofia-pro-regular text-xl">{{ 'general.404.subtext_html' | t }}</p>
<p class=" font-sofia-pro-regular text-xl pt-10 underline">{{ 'general.404.link_html' | t }}</p>
</div>